/* Remove default ul margin & padding */
ul {
  margin: 0;
  padding: 0;
}

/* Common styles start */
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: var(--gux-off-white);
  background-color: var(--gux-black-30);
  margin: 10;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  overflow: hidden;
}

footer {
  margin-top: auto;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.primary-section {
  margin: 10px 0;
  padding: 0 10px;
  /* temp border for testing */
  border: green solid 2px;
}

.sub-section-065 {
  overflow: hidden;
  width: 65%;
  margin: 0 5px 0 0;
  /* temp border for testing */
  border: yellow solid 2px;
}

.sub-section-035 {
  overflow: hidden;
  width: 35%;
  margin: 0 0 0 5px;
  /* temp border for testing */
  border: purple solid 2px;
}

#title {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 60px;
  font-style: oblique;
  color: var(--gux-warm-red);
}

#header {
  font-family: "Urbanist", sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  background-color: var(--gux-off-white);
  box-sizing: border-box;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  border-radius: 10px;
  box-shadow: #000000 0px 0px 10px;
}

#subheader {
  background-color: var(--gux-off-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0px 18px 10px 0px;
  text-transform: lowercase;
  font-weight: bolder;
  letter-spacing: 2px;
}

nav ul li a,
a:visited {
  text-decoration: none;
  color: #000000;
}

nav ul li a:hover,
a:active {
  text-decoration: none;
  color: var(--gux-warm-red);
}

a.active-nav-item {
  font-weight: 400;
  letter-spacing: 2px;
  font-style: oblique;
  color: var(--gux-warm-red);
  text-transform: uppercase;
}

/* Common styles end */

/* Text specific styles start */
h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: lowercase;
}

.important-text {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* Font specific styles end */

/* Index page styles start */
#index-section {
  display: flex;
}

#index-section > div {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#index-section div a {
  color: var(--gux-off-white);
  text-decoration: none;
}

#index-section gux-icon {
  padding-right: 0;
  color: var(--gux-warm-red);
}

#index-section > div > container {
  background-color: var(--gux-off-white);
  padding: 10px;
  margin-left: 25px;
  margin-right: auto;
  width: 75%;
}

#index-info-div ul li {
  margin-left: 25px;
}

/*
#index-login-container {
  background-color: var(--gux-off-white);
  padding: 10px;
  margin-left: 25px;
  margin-right: auto;
  width: 75%; 
} */

/* Index page styles end */

/* Page styles start */
#tools-div-all {
  /* Wraps tool cards */
  display: flex;
  flex-wrap: wrap;
}

gux-card-beta div {
  /* Vertically aligns tool names */
  display: flex;
  align-items: flex-start;
}

gux-card-beta.primary-card {
  color: var(--gux-off-white);
  background-color: var(--gux-black-40);
  margin: 24px;
}

gux-card-beta.secondary-card {
  color: #000000;
  background-color: var(--gux-off-white);
  margin: 24px;
  display: inline-block;
}

/* Page styles end */

/* Tool pages styles start */

#tool-group {
  display: flex;
}

#tool-group > div {
  flex: 1;
}

/* Tool pages styles end */
