/* Remove default ul margin & padding */
ul {
  margin: 0;
  padding: 0;
}

/* Common styles start */
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: var(--gux-off-white);
  background-color: var(--gux-black-30);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  overflow: hidden;
}

footer {
  margin-top: auto;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.primary-section {
  margin: 10px 0;
  padding: 0 10px;
}

.sub-section-065 {
  overflow: hidden;
  width: 65%;
  margin: 0 5px 0 0;
}

.sub-section-035 {
  overflow: hidden;
  width: 35%;
  margin: 0 0 0 5px;
}

#title {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 60px;
  font-style: oblique;
  color: var(--gux-warm-red);
  margin-bottom: 0px;
}

#header {
  font-family: "Urbanist", sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  background-color: var(--gux-off-white);
  box-sizing: border-box;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: inset 0 15px 15px -15px var(--gux-black-30),
    inset 0 -15px 15px -15px var(--gux-black-30);
}

#subheader {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0px 18px 10px 0px;
  text-transform: lowercase;
  font-weight: bolder;
  letter-spacing: 2px;
}

nav ul li a,
a:visited {
  text-decoration: none;
  color: #000000;
}

nav ul li a:hover,
a:active {
  text-decoration: none;
  color: var(--gux-warm-red);
}

a.active-nav-item {
  font-weight: bolder;
  letter-spacing: 2px;
  font-style: oblique;
  color: var(--gux-warm-red);
  text-transform: uppercase;
}

#breadcrumbs > gux-breadcrumb-item:hover {
  text-transform: uppercase;
  font-style: oblique;
  /* transform: rotate(3deg); */
}

gux-button {
  width: 125px;
  padding: 5px;
}

#disconnect-button {
  margin-right: 35px;
}

/* Common styles end */

/* Text specific styles start */
h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 22px;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: lowercase;
  text-shadow: black 1px 1px 1px;
}

h3 {
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  color: #000000;
  white-space: nowrap;
  margin-bottom: 0;
}

h4 {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
  text-decoration: underline;
  color: #0a9ca7;
}

h5 {
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  color: #000000;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 0px;
  display: flex;
}

.important-text {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

gux-option {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #000000;
}

gux-tooltip {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  color: #000000;
}

/* Font specific styles end */

/* Index page styles start */
#index-section {
  display: flex;
}

#index-section > div {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#index-section div a {
  color: var(--gux-off-white);
  text-decoration: none;
}

#index-section gux-icon {
  padding-right: 0;
  color: var(--gux-warm-red);
}

#index-section > div > container {
  background-color: var(--gux-off-white);
  color: #000000;
  padding: 10px;
  margin-left: 25px;
  margin-right: auto;
  margin-bottom: 25px;
  width: 75%;
  border-radius: 10px;
  box-shadow: #000000 10px 5px 5px;
}

#index-info-div ul li {
  margin-left: 25px;
}

/* Index page styles end */

/* Page styles start */
#tools-container {
  /* Wraps primary tool cards */
  display: flex;
  flex-wrap: wrap;
}

/* Wraps secondary tool cards */
#cards-div {
  display: flex;
}

gux-card-beta.primary-card {
  background-color: var(--gux-black-60);
  color: var(--gux-off-white);
  margin: 24px;
  border-radius: 10px;
  box-shadow: #000000 10px 5px 5px, inset var(--gux-alert-yellow-100) 2px 2px;
}

gux-card-beta.secondary-card {
  color: var(--gux-black-80);
  background-color: var(--gux-off-white);
  margin: 24px;
  border-radius: 10px;
  box-shadow: var(--gux-grey-30) 3px 3px 1px,
    inset var(--gux-alert-yellow-90) 2px 2px;
}

gux-card-beta.secondary-card > ul {
  list-style-type: none;
}

.secondary-card > ul > li a,
.secondary-card > ul > li a:visited {
  text-decoration: none;
  color: var(--gux-black-70);
}

gux-card-beta.secondary-card > ul > li a:hover,
a:active {
  text-decoration: none;
  color: var(--gux-aqua-green-sec);
}

/* Page styles end */

/* Tool pages styles start */

/* Info section start */
/* Replicates style of index container / accordians */
#info-section {
  display: flex;
}

#info-section > div {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#info-section > div > h1 {
  margin: 0;
}

#info-section > div > container {
  background-color: var(--gux-off-white);
  color: #000000;
  padding: 10px;
  margin-left: 25px;
  margin-right: auto;
  margin-bottom: 25px;
  width: 75%;
  border-radius: 10px;
  box-shadow: #000000 10px 5px 5px;
}
/* Info section end */

/* Tool page header start */
#tool-header-group {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--gux-off-white);
  border-radius: 10px 10px 0 0;
  padding: 0 30px;
  overflow: visible;
  justify-content: space-between;

  > div {
    display: flex;
    padding: 10px;
    flex-direction: column;
  }
}

/* Tool page header groups start */

.modules-wrapper > module {
  display: flex;
  flex-direction: column;
}

#inputs-group {
  flex: 1;
}

#options-group {
  flex: 1;

  > .modules-wrapper {
    /* modules-wrapper */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    > module {
      /* evenly space modules in wrapper */
      display: flex;
      flex: 1;
    }
  }
}

#buttons-group {
  flex: 0 0 300px;
  > .modules-wrapper {
    /* modules-wrapper */
    display: flex;
    justify-content: space-between;
    align-items: center;

    > module {
      /* evenly space modules in wrapper */
      display: flex;
      flex: 1;
    }
  }
}

/* Tool page header groups end */

/* Tool page modules start */
module {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

fieldset {
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  color: #000000;
  display: flex;
  flex-direction: column;
  margin: 10px;

  > legend {
    font-weight: bold;
    font-style: oblique;
    display: flex;
    flex-direction: row;
  }
}

#input-dropdown-module {
  > gux-dropdown {
    max-width: 600px;
  }
}

#input-multidropdown-module-2 {
  > fieldset > div {
    display: flex;
    justify-content: space-around;
    > gux-dropdown-multi-beta {
      width: 50%;
      margin: 0 5px;
    }
  }
}

#dates-input-module > fieldset {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

#dates-input-module > fieldset > div {
  /* start / end divs */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 50px;
}

/* Tool page modules end */

#buttons-container {
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
  align-items: space-between;
  align-self: flex-end;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

#buttons-container > fieldset {
  justify-content: center;
  align-items: center; /* Center buttons horizontally */
  height: 100%;
}

#buttons-container > fieldset > gux-button {
  /* lower the margin to allow for 5px electric purple border */
  align-self: flex-end;
  padding: 5px;
}

/* Tool page header end */

#content-div {
  border: var(--gux-electric-purple-sec) solid 5px;
  border-radius: 15px;
}

#terminal-group {
  background-color: var(--gux-off-white);
  padding: 20px 30px 30px 30px;
  border-radius: 0 0 10px 10px;
}

#terminal {
  background-color: #000000;
  padding: 5px;
  border-radius: 3px;
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
}

#terminal > p {
  font-family: "Inconsolata", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: var(--gux-alert-green-70);
  margin: 1px;
}

#terminal > p.debug {
  color: white;
}

#terminal > p.info {
  color: var(--gux-alert-green-70);
}

#terminal > p.warning {
  color: var(--gux-alert-yellow-70);
}

#terminal > p.error {
  color: var(--gux-alert-red-70);
}

/* Tool pages styles end */
