@font-face {
  font-family: "springwood-brush";
  src: url("../fonts/Springwood Brush Regular/springwood_brush-webfont.woff2")
      format("woff2"),
    url("../fonts/Springwood Brush Regular/springwood_brush-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "consolas";
  src: url("../fonts/Consolas.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

header {
  box-sizing: border-box;
  background-color: #ecebeb;
  color: #ff4c1c;
  padding: 5px 5px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#title {
  color: #ff4c1c;
  font-size: 65px;
  font-family: springwood-brush, sans-serif;
  text-transform: uppercase;
}

img[src*="service-bell-expanded"] {
  margin-right: 25px;
}

.subHeader {
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  padding-left: 5px;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 999;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 16px;
}

.header-li {
  color: #000000;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 10px 18px 10px 0px;
  text-transform: lowercase;
}

.active {
  font-size: 16px;
  font-weight: 1000;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

.header a,
a:visited {
  text-decoration: none;
  color: #000000;
}

.header a:hover,
a:active {
  text-decoration: none;
  color: #ff4c1c;
}

.toy-table-containter {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.important {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.Row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  margin-bottom: 10px;
}

.Column {
  display: table-cell;
  vertical-align: middle;
}

.wpt-page {
  float: left;
  display: inline;
  margin: 10px;
}

table a,
a:visited {
  text-decoration: none;
  color: #000000;
}

table a:hover {
  text-decoration: underline;
  color: #00b8aa;
}

table {
  table-layout: fixed;
  width: 180px;
  padding: 5px 5px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 10px 20px;
}

thead {
  height: 50px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

table,
td + td {
  border-left: 2px solid #00b8aa;
  font-size: 16px;
}

table td {
  padding-bottom: 10px;
}

.coming-soon {
  color: #adadad;
}
