@font-face {
  font-family: "springwood-brush";
  src: url("../fonts/Springwood Brush Regular/springwood_brush-webfont.woff2")
      format("woff2"),
    url("../fonts/Springwood Brush Regular/springwood_brush-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "consolas";
  src: url("../fonts/Consolas.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

header {
  box-sizing: border-box;
  background-color: #ecebeb;
  color: #ff4c1c;
  padding: 5px 5px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#title {
  color: #ff4c1c;
  font-size: 65px;
  font-family: springwood-brush, sans-serif;
  text-transform: uppercase;
}

.subHeader {
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  padding-left: 5px;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 999;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 16px;
}

.header-li {
  color: #000000;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 10px 18px 10px 0px;
  text-transform: lowercase;
}

.active {
  font-size: 16px;
  font-weight: 1000;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

.header a,
a:visited {
  text-decoration: none;
  color: #000000;
}

.header a:hover,
a:active {
  text-decoration: none;
  color: #ff4c1c;
}

.align-content-left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: left;
}

.align-content-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: right;
}

.align-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.align-content > * {
  flex: 0 1 auto;
  align-self: auto;
  order: 0;
  padding-right: 4px;
  bottom: 0;
}

.align-content > gux-icon {
  width: 16px;
  height: 16px;
  padding-right: 4px;
  bottom: 0;
}

.Row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  margin-bottom: 10px;
}

.Column {
  display: table-cell;
  vertical-align: middle;
}

#action-section {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.process-grp {
  background-color: #000000;
  min-height: 200px;
  max-height: 200px;
  overflow-y: auto;
  border-bottom-left-radius: 5px;
  box-shadow: 2px 2px 5px #555 inset;
}

.import-example {
  background: 0 0;
  border: none;
  color: #2a60c8;
}

.terminal {
  color: limegreen;
  font-family: consolas, monospace;
  font-size: 12px;
  margin: 0px;
  overflow-y: scroll;
  height: 450px;
  max-height: 450px;
}

.log-entry {
  margin: 1px 5px;
  line-height: 14px;
}

.important {
  font-weight: bold;
}
