/* Remove default ul margin & padding */
ul {
  margin: 0;
  padding: 0;
}

/* Common styles start */
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: var(--gux-off-white);
  background-color: var(--gux-black-30);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  overflow: hidden;
}

footer {
  margin-top: auto;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.primary-section {
  margin: 10px 0;
  padding: 0 10px;
}

.sub-section-065 {
  overflow: hidden;
  width: 65%;
  margin: 0 5px 0 0;
}

.sub-section-035 {
  overflow: hidden;
  width: 35%;
  margin: 0 0 0 5px;
}

#title {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 60px;
  font-style: oblique;
  color: var(--gux-warm-red);
  margin-bottom: 0px;
}

#header {
  font-family: "Urbanist", sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  background-color: var(--gux-off-white);
  box-sizing: border-box;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: inset 0 15px 15px -15px var(--gux-black-30),
    inset 0 -15px 15px -15px var(--gux-black-30);
}

#subheader {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0px 18px 10px 0px;
  text-transform: lowercase;
  font-weight: bolder;
  letter-spacing: 2px;
}

nav ul li a,
a:visited {
  text-decoration: none;
  color: #000000;
}

nav ul li a:hover,
a:active {
  text-decoration: none;
  color: var(--gux-warm-red);
}

a.active-nav-item {
  font-weight: bolder;
  letter-spacing: 2px;
  font-style: oblique;
  color: var(--gux-warm-red);
  text-transform: uppercase;
}

#breadcrumbs > gux-breadcrumb-item:hover {
  text-transform: uppercase;
  font-style: oblique;
  /* transform: rotate(3deg); */
}

gux-button {
  width: 125px;
  margin-right: 35px;
}

/* Common styles end */

/* Text specific styles start */
h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 22px;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: lowercase;

  text-decoration-color: var(--gux-electric-purple-sec);
  text-shadow: black 1px 1px 1px;
}

h3 {
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  color: #000000;
}

h4 {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
  text-decoration: underline;
  color: #0a9ca7;
}

h5 {
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  color: #000000;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 0px;
  display: flex;
}

.important-text {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

gux-option {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #000000;
}

/* Font specific styles end */

/* Index page styles start */
#index-section {
  display: flex;
}

#index-section > div {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#index-section div a {
  color: var(--gux-off-white);
  text-decoration: none;
}

#index-section gux-icon {
  padding-right: 0;
  color: var(--gux-warm-red);
}

#index-section > div > container {
  background-color: var(--gux-off-white);
  color: #000000;
  padding: 10px;
  margin-left: 25px;
  margin-right: auto;
  margin-bottom: 25px;
  width: 75%;
  border-radius: 10px;
  box-shadow: #000000 10px 5px 5px;
}

#index-info-div ul li {
  margin-left: 25px;
}

/* Index page styles end */

/* Page styles start */
#tools-container {
  /* Wraps primary tool cards */
  display: flex;
  flex-wrap: wrap;
}

/* Wraps secondary tool cards */
#cards-div {
  display: flex;
}

gux-card-beta.primary-card {
  background-color: var(--gux-black-60);
  color: var(--gux-off-white);
  margin: 24px;
  border-radius: 10px;
  box-shadow: #000000 10px 5px 5px, inset var(--gux-alert-yellow-100) 2px 2px;
}

gux-card-beta.secondary-card {
  color: var(--gux-black-80);
  background-color: var(--gux-off-white);
  margin: 24px;
  border-radius: 10px;
  box-shadow: var(--gux-grey-30) 3px 3px 1px,
    inset var(--gux-alert-yellow-90) 2px 2px;
}

gux-card-beta.secondary-card > ul {
  list-style-type: none;
}

.secondary-card > ul > li a,
.secondary-card > ul > li a:visited {
  text-decoration: none;
  color: var(--gux-black-70);
}

gux-card-beta.secondary-card > ul > li a:hover,
a:active {
  text-decoration: none;
  color: var(--gux-aqua-green-sec);
}

/* Page styles end */

/* Tool pages styles start */
/* Replicates style of index container / accordians */
#info-section {
  display: flex;
}

#info-section > div {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#info-section > div > h1 {
  margin: 0;
}

#info-section > div > container {
  background-color: var(--gux-off-white);
  color: #000000;
  padding: 10px;
  margin-left: 25px;
  margin-right: auto;
  margin-bottom: 25px;
  width: 75%;
  border-radius: 10px;
  box-shadow: #000000 10px 5px 5px;
}

#tool-header-group {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--gux-off-white);
  border-radius: 10px 10px 0 0;
  padding-left: 20px;
  padding-top: 10px;
  overflow: visible;
}

#tool-header-group > div:not(#buttons-group) {
  flex: 1;
  padding-left: 10px;
  padding-bottom: 10px;
}

#inputs-group {
  display: flex;
  flex-direction: column;
}

#inputs-group > div {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

#inputs-group > div > div {
  display: flex;
}

#inputs-group > div > div > div {
  margin-right: 10px;
}

#export-start-div {
  width: 200px;
}
#dates-input-div > div > div {
  display: flex;
}

#export-start-div,
#export-end-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#export-start-div > h5,
#export-end-div > h5 {
  align-self: flex-start;
}
#export-start-div > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#export-end-div gux-datepicker {
  margin-left: 15px;
}

#export-end-div > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#options-group {
  display: flex;
  flex-direction: column;
}

#options-group > div {
  display: flex;
}

#options-group > div > div {
  flex: 1;
}

#buttons-group {
  display: flex;
  flex-direction: column;
  flex: 0 0 350px;
  padding-left: 10px;
  padding-bottom: 10px;
}

#buttons-group > h3 {
  white-space: nowrap;
}

#buttons-container {
  display: flex;
  justify-content: right;
  align-items: center;
  align-self: flex-end;
  margin-top: auto;
  margin-left: auto;
}

#buttons-container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: 100%;
}

#buttons-container > div > gux-button {
  /* lower the margin to allow for 5px electric purple border */
  margin-right: 30px;
  padding: 5px;
}

#content-div {
  border: var(--gux-electric-purple-sec) solid 5px;
  border-radius: 15px;
}

#content-div > h3 {
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  color: #000000;
}

#terminal-group {
  background-color: var(--gux-off-white);
  padding: 10px 30px 30px 30px;
  border-radius: 0 0 10px 10px;
}

#terminal {
  background-color: #000000;
  padding: 5px;
  border-radius: 3px;
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
}

#terminal > p {
  font-family: "Inconsolata", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: var(--gux-alert-green-70);
  margin: 1px;
}

#terminal > p.debug {
  color: white;
}

#terminal > p.info {
  color: var(--gux-alert-green-70);
}

#terminal > p.warning {
  color: var(--gux-alert-yellow-70);
}

#terminal > p.error {
  color: var(--gux-alert-red-70);
}

/* Tool pages styles end */
